<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Julio Angel Noboa Gómez</ion-card-title>
      <ion-card-subtitle>julionoboa26&#64;gmail.com</ion-card-subtitle>
    </ion-card-header>
    
    <!-- Foto 2x2 -->
    <ion-card-content>
      <ion-img class= "profile-img" src="assets/img/fotoperfilitlarecortada2.jpg" alt="Foto de Julio Angel Noboa Gómez"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
